/* Verde = #008080
negro = #101010
grisObs = #282828
grisCla = #f6f6f6
blanco = fcfcfc */

body{
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}
h1{
    /* Recomendacion para una mejor lectura */
    letter-spacing: -.2px;
    line-height: 1.5em;
    font-size: 40px;
    color: #fcfcfc;
}
h1 strong{
    color: 	#008080;
}
h2{
    margin: 10px;
    color: 	#008080;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
    margin-bottom:20px;
}
ul, ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
figure{
    margin: 0;
}


/* ===== Header ===== */
.header{
    background-color: #282828;
    color: #fcfcfc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    flex-wrap: wrap;
}
.menu{
    height: inherit;
}
.header ul{
    display: flex;
    height: inherit;
}
.header ul li{
    height: inherit;
}
.header a{
    display: flex;
    align-items: center;
    height: inherit;
    padding: 0 8px;
    color: #fcfcfc;
    text-decoration: none;
}


/* ===== Hero ===== */
.hero{
    height: 200px;
    background-image: url('./assets/images/hero.png');
    background-size: 1000px 200px;
    background-repeat: no-repeat;
    background-size:cover;
    background-position-x:50%;
    background-position-y:50%;
    flex-wrap: wrap;
}


/* ===== Book ===== */
.book{
    background-color: #f6f6f6;
    padding: 20px;
}
.project{
    border-radius: 12px;
    border: grey solid 1px;
    margin: 10px;
    margin-bottom: 15px;
    padding: 15px;
    background-color: #fcfcfc;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.project__title{
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: 0;
}
.project__course, .project__date, .project__url{
    margin: 10px 0;
}
.project__details{
    width: 500px;
}
.project__imageContainer{
    width: 500px;
}
.project__description{
    font-size: 18px ;
}
.project__details a{
    text-decoration: none;
    color: #282828;
}


/* ===== Experience ===== */
.experience{
    display: flex;
    flex-wrap: wrap;
}
.event{
    border-radius: 8px;
    margin: 10px;
    width: 480px;
    background-color: teal;
    overflow: hidden;
    flex-shrink: 0;
}
.event__detail{
    margin: 20px 40px;
    background-color: #fcfcfc;
    margin-top: -40px;
    position: relative;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
}
.event__url{
    text-decoration: none;
    border-radius: 4px;
    color: #008080;
    border: #008080 1px solid;
    padding: 10px 30px;
}
.event__description{
    text-align: left;
}
.event img{
    width: 480px;
    height: 280px;
    object-fit: cover;
}
.event__title{
    margin: 10px; 
}


/* ===== Contact ===== */
.contact{
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.social-link{
    display: inline-block;
    height: 50px;
    width: 50px;
    background-size: 50px 50px;
    margin: 0 10px;
}
.social-link.behance{
    background-image: url('./assets/images/behance.svg');
    background-repeat: no-repeat;
}
.social-link.dribbble{
    background-image: url('./assets/images/dribbble.svg');
    background-repeat: no-repeat;
}
.social-link.linkedin{
    background-image: url('./assets/images/linkedin.svg');
    background-repeat: no-repeat;
}
.form__email input{
    border: gray solid 1px;
    padding: 5px 20px 5px 25px;
    border-radius: 5px;
    background-image: url('./assets/images/sobre.svg');
    background-repeat: no-repeat;
    background-size: 15px 15px;
    background-position-y: center;
    background-position-x: 5px;
}
.form__button{
    border: gray solid 1px;
    background: transparent;
    border-radius: 5px;
    padding: 5px;
}


/* ===== Footer ===== */
.footer{
    background-color: #282828;
    color: #fcfcfc;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer img{
    vertical-align: middle;
}

.footer a{
    color: #fcfcfc;
    text-decoration: none;
}


/* ===== Container ===== */
.wrapper{
    max-width: 1000px;
    flex: 1;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
}


/* ===== Media Query Desktop ===== */

@media screen and (max-width: 1024px){

}

@media screen and (max-width: 767px){
    .header{
        display: block;
        height: auto;
        background-color: #1da0f1;
    }
    .header ul{
        display: block;
    }
    .header ul li{
        height: 50px;
    }
    .header ul li a{
        justify-content: center;
    }
    .header .logo{
        text-align: center;
    }
}

@media screen and (max-width: 480px){
    
}

@media screen and (max-width: 320px){

}