/* azul = #1da0f1
azul2 = #1da0f144
negro = #101010
gris = #282828
blanco = fcfcfc */

body{
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}
h1{
    /* Recomendacion para una mejor lectura */
    letter-spacing: -.2px;
    line-height: 1.5em;
    font-size: 40px;
    color: #fcfcfc;
}
h1 strong{
    color: 	#1da0f1;
}
h2{
    margin: 10px;
    color: 	#1da0f1;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
    margin-bottom:20px;
}
ul, ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
figure{
    margin: 0;
}


/* ===== Header ===== */
.header{
    background-color: #282828;
    color: #fcfcfc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    flex-wrap: wrap;
}
.menu{
    height: inherit;
}
.header ul{
    display: flex;
    height: inherit;
}
.header ul li{
    height: inherit;
}
.header a{
    display: flex;
    align-items: center;
    height: inherit;
    padding: 0 8px;
    color: #fcfcfc;
    text-decoration: none;
}


/* ===== Hero ===== */
.hero{
    height: 200px;
    background-image: url('./assets/images/hero.png');
    background-size: 1000px 200px;
    background-repeat: no-repeat;
    background-size:cover;
    background-position-x:50%;
    background-position-y:50%;
    flex-wrap: wrap;
    position: relative;
}

.hero img{
    z-index: 10;
}
.hero h1 span{
    color: #1da0f1;
}

.title{
    margin: 0;
    color: #282828;
    position: absolute;
    top: 25%;
    right: 1em;
    3
}

/* ===== Book ===== */
.book{
    /* background-color: #1da0f144; */
    padding: 20px;
}
.project{
    border-radius: 12px;
    border: grey solid 1px;
    margin: 10px;
    margin-bottom: 15px;
    padding: 15px;
    background-color: #fcfcfc;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.project__title{
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: 0;
}
.project__course, .project__date, .project__url{
    margin: 10px 0;
}
.project__details{
    width: 50%;
}
.project__imageContainer{
    width: 50%;
}
.project__description{
    font-size: 18px ;
}
.project__details a{
    text-decoration: none;
    color: #282828;
}
.project__imageContainer img{
    max-width: 100%;
    border-radius: 8px;
}



/* ===== Experience ===== */
.experience{
    display: flex;
    flex-wrap: wrap;
}
.event{
    border-radius: 8px;
    margin: 1%;
    width: 48%;
    background-color: #1da0f144;
    overflow: hidden;
    flex-shrink: 0;
}
.event__detail{
    margin: 20px 40px;
    background-color: #fcfcfc;
    margin-top: -40px;
    position: relative;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
}
.event__url{
    text-decoration: none;
    border-radius: 4px;
    color: #1da0f1;
    border: #1da0f1 1px solid;
    padding: 10px 30px;
}
.event__description{
    text-align: left;
}
.event img{
    width: 480px;
    height: 280px;
    object-fit: cover;
}
.event__title{
    margin: 10px; 
}


/* ===== Contact ===== */
.contact{
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.social-link{
    display: inline-block;
    height: 50px;
    width: 50px;
    background-size: 50px 50px;
    margin: 0 10px;
}
.social-link.behance{
    background-image: url('./assets/images/behance.svg');
    background-repeat: no-repeat;
}
.social-link.dribbble{
    background-image: url('./assets/images/dribbble.svg');
    background-repeat: no-repeat;
}
.social-link.linkedin{
    background-image: url('./assets/images/linkedin.svg');
    background-repeat: no-repeat;
}
.form__email input{
    border: gray solid 1px;
    padding: 5px 20px 5px 25px;
    border-radius: 5px;
    background-image: url('./assets/images/sobre.svg');
    background-repeat: no-repeat;
    background-size: 15px 15px;
    background-position-y: center;
    background-position-x: 5px;
}
.form__button{
    border: gray solid 1px;
    background: transparent;
    border-radius: 5px;
    padding: 5px;
}


/* ===== Footer ===== */
.footer{
    background-color: #282828;
    color: #fcfcfc;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 40px;
    padding-right: 40px;
}

.footer img{
    vertical-align: middle;
}

.footer a{
    color: #fcfcfc;
    text-decoration: none;
}


/* ===== Container ===== */
.wrapper{
    max-width: 1000px;
    flex: 1;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
}

/* ===== FontAwesome ===== */
.burger__menu{
    height: 40px;
    width: 40px;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: #28282880;
    position: fixed;
    border-radius: 50%;
    z-index: 40;
    right: 1em;
    top: 1em;
}
.burger__btn{
    font-size: 25px;
    color: white;
}

/* ===== Media Query Desktop ===== */

@media screen and (max-width: 1024px){
    .book{
        padding: 0;
    }
}

@media screen and (max-width: 767px){
    .header{
        display: block;
        height: auto;
        padding: 15px;
    }
    .header ul{
        display: block;
    }
    .header ul li{
        height: 50px;
    }
    .header ul li a{
        justify-content: center;
        height: 40px;
        font-size: 2em;
        text-decoration: underline;
        margin-bottom: .5em;
    }
    .header .logo{
        text-align: center;
        position: relative;
    }
    .menu{
        position: fixed;
        background-color: #1da0f1f8;
        z-index: 30;
        top: 0;
        left: 100vw;
        width: 100vw;
        /* height: 100vh; */
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .3s;
    }
    .menu.is-active{
        left: 0;
    }
    .burger__menu{
        display: flex;
    }
    
    .project{
        display: block;
    }
    .project__imageContainer{
        width: auto;
        text-align: center;
    }
    .project__details{
        width: auto;
        font-size: 10px;
    }
    .project__title{
        font-size: 2em;
        margin-bottom: 1em;
    }
    .project__url, .project__course, .project__date, .project__description{
        font-size: 1em;
        margin: .5em 0;
    }
    .project__description{
        margin-bottom: 2em;
    }

    .event{
        width: auto;
        flex-shrink: initial;
    }
    .event img{
        width: 100%;
    }
    .wrapper{
        padding: 0 1em;
    }

    .hero{
        height: 120px;
        /* position: relative; */
    }
    .title{
        font-size: 2em;
    }
}

@media screen and (max-width: 480px){
    .project__details{
        font-size: 12px;
    }

    .event__detail{
        margin: -3em .5em .5em;
    }

    .contact{
        height: auto;
        padding: 1em;
        text-align: center;
        display: block;
    }

    .form__email button{
        margin: 1em auto;
        font-size: 16px;
    }
    .form__title{
        margin-top: 0;
    }

    .footer{
        display: block;
        border: 1px solid transparent;
        text-align: center;
    }

    .hero{
        height: 100px;
        /* position: relative; */
    }
    .title{
        font-size: 1.5em;
    }
}

@media screen and (max-width: 320px){
    .hero{
        height: 80px;
        /* position: relative; */
    }
    .title{
        font-size: 1em;
    }
}